page-home {
    ion-content{
        background: #6adddd !important;
    }

}

.my-button-foward{
    position: fixed;
    width: 45%;
    height: 120px;
    left: 0;
    bottom: 50%;
    margin:10px;
    }

.my-button-left{
    position: fixed;
    width: 45%;
    height: 120px;
    right: 0;
    bottom: 50%;
    margin:10px;
    }

.my-button-rigth{
    position: fixed;
    width: 45%;
    height: 120px;
    left: 0;
    bottom: 27%;
    margin:10px;
    }

.my-button-jump{
    position: fixed;
    width: 45%;
    height: 120px;
    right: 0;
    bottom: 27%;
    margin:10px;
    }

.my-button-ligth{
    position: fixed;
    width: 45%;
    height: 120px;
    left: 0;
    bottom: 5%;
    margin:10px;
    }

.my-button-Ok{
    position: fixed;
    width: 45%;
    height: 120px;
    right: 0;
    bottom: 5%;
    margin:10px;
    }