ion-icon {
    &[class*="imgbot-"] {
        
        mask-size: 40%;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 10em;
        height: 10em;
    }
    // custom icons
    &[class*="imgbot-forward"] {
        mask-image: url(../assets/imgs/forward.svg);
    }
    &[class*="imgbot-left"] {
        mask-image: url(../assets/imgs/left.svg);
    }
    &[class*="imgbot-jump"] {
        mask-image: url(../assets/imgs/jump.svg);
    }
    &[class*="imgbot-right"] {
        mask-image: url(../assets/imgs/right.svg);
    }
    &[class*="imgbot-ligth"] {
        mask-image: url(../assets/imgs/ligth.svg);
    }
    &[class*="imgbot-p1"] {
        mask-image: url(../assets/imgs/P1.svg);
    }
    &[class*="imgbot-p2"] {
        mask-image: url(../assets/imgs/P2.svg);
    }
}